@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

#frontendNav {
    z-index : 10;
}

.gradient-text {
    /* font-size: 24px; */
    font-weight: bold;
    background: linear-gradient(45deg, yellow, goldenrod, red);
    -webkit-background-clip: text;
    color: transparent;
}

.gradient-background {
    background: linear-gradient(to right, yellow, goldenrod);
}

#textOverlayDiv {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* This leaves 10% on either side */
    color: white;
    font-family: 'Autour One', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

#textOverlayDiv p {
    font-size: 6vw; /* Increased base font size */
    margin-bottom: 20px;
    line-height: 1.2; /* Adjust line height for better readability */
}

#textOverlayDiv button {
    font-size: 3vw; /* Increased button font size */
    max-width: 80%; /* Ensure button doesn't exceed text width */
    white-space: normal; /* Allow button text to wrap */
}

/* Media queries for different screen sizes */
@media screen and (min-width: 768px) {
    #textOverlayDiv p {
        font-size: 5vw;
    }
    
    #textOverlayDiv button {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 1200px) {
    #textOverlayDiv p {
        font-size: 72px; /* Increased max font size for larger screens */
    }
    
    #textOverlayDiv button {
        font-size: 30px; /* Increased max button font size for larger screens */
    }
}

video {
    width : 100%;
    object-fit : cover;
    height: 525px;
}

section#contact {
    background-image: url('https://media.istockphoto.com/id/2158171845/photo/close-up-of-a-businessman-working-on-a-laptop-computer-and-holding-and-looking-at-a-mobile.jpg?s=1024x1024&w=is&k=20&c=3yeHEaih3fu9xx4RhumBdAWtMgNrqjooo8qW5uMKd6g=');
    background-size: cover;
    background-position: center;
    position: relative;
}

section#contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

section#contact > .content-wrapper {
    position: relative;
    z-index: 1;
}

section#contact > .map-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
}

section#contact > #socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;   
}

section#contact > #socials ul Link {
    background-color: rgba(255, 255, 255, 0.1);
}

section#contact > ul Link:hover {
    color: goldenrod;
}

section#contact > .icon-wrapper {
    display: inline-flex;   
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid goldenrod;
}

section#services {
    background-image: url("https://cdn.pixabay.com/photo/2016/10/26/22/01/abstract-1772755_640.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3rem;
}

section#services img:hover, 
section#services .card:hover > section#services img {
    animation: scale 500ms ease-in-out forwards;
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
}

section#services .card-title {
    color: goldenrod;
    position: relative;
    display: inline-block;
}

section#services .card {
    border: 1px solid rgba(245, 245, 245, .3);
}

section#services .card:hover {
    border: 1px solid goldenrod;
}

section#services .card-title::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Position the underline below the text */
    left: 25%;
    width: 0; /* Initial width (no underline) */
    height: 3px; /* Thickness of the underline */
    background-color: white; /* White color */
    transition: width 0.3s ease-in-out; /* Animation duration and easing */
}

section#services > .card:hover section#services > .card-title::after {
    width: 50%; /* Slide the underline from left to right */
}

section#services .card-body {
    background-color: rgba(128, 128, 128, 0.1);
    opacity: 0.8;
}

